body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana ;text-align:center;}
.maindiv {background-color:white;color:black;width:600px;padding:50px;
border: radius 25px}
div{
    text-align:left;
    
    margin-left: auto;
    margin-right: auto;
margin-top: 10%;
border-radius: 30px 30px 30px 30px;
;
}
.highlight {
    color: red;
  }
